html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 0.005rem
 }
 
 html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 0.005rem
 }
 
 .myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
 }

 